{% extends 'base.html' %}

{% block title %}
{{category_name}}
{% endblock %}

{% block content %}

{% if products %}

<style>

      #categoryName {
        margin-top: 2%;
      }

      @media screen and (max-width: 576px) {

        .parent {
          width: 100%;

          top: 0;
          left: 0;
          overflow: auto;
          white-space: nowrap;
          text-align: center;
          /* font-size: 0; */
        }

        .parent:before {
          display: inline-block;
          vertical-align: middle;
          content: '';
            }

        .product_card_block{
          display: inline-block;
          white-space: normal;
          vertical-align: middle;
          text-align: left;
        }

      }

      .product_card{
        /* margin-right: 1%; */
      }

      .card_class{
        width: 16rem;
      }

      @media screen and (min-width: 576px) and (max-width: 768px)  {
        .card_class{
          width: 15rem;
        }
      }

      @media screen and (min-width: 768px) and (max-width: 992px)  {
        .card_class{
          width: 14rem;
        }
      }

      @media screen and (min-width: 992px) {
        .card_class{
          width: 18rem;
        }
      }

      @media screen and (min-width: 1200px) {
        .card_class{
          width: 22rem;
        }
      }




        @media screen and (min-width: 768px) {
            .product_card {
                transition: .2s;
            }

            .product_card:hover{
                transform:scale(1.03);

            }
            .content_box{
                transition: .2s;
            }
            .product_card:hover .content_box{
                box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
            }

        }



    </style>

<h5 class="text-center" style="margin-top:6%;">{{category_name}}</h5>
<div class="container" style="margin-top:2%;">
      <div class="row">

        {% for product in products%}

          <div class="col-md-4 col-sm-6 product_card" style="margin-top: 3%;">
            <div class="parent">
            <div class="product_card_block">
              <div class="card card_class">
<!--            <div class="card" style="width: 18rem;">-->
                <a href="{% url 'product_details_page' slug=product.slug %}">
                    <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
                </a>
              <div class="card-body content_box">
                  <h4 class="card-title">{{product.name}}</h4>
                  <p>{{product.price}} $</p>
                  <p class="card-text">{{product.description|slice:":50"}}</p>
              </div>
            </div>
          </div>
            </div>
          </div>

        <!--    <a href="{% url 'product_details_page' slug=product.slug %}">{{product}}</a>-->
        <!--    <br/>-->
        {% endfor %}
      </div>
</div>

{% else %}
<p>There are no products yet</p>
{% endif %}

{% endblock %}